.parent {
  display: flex;
  justify-content: center;
}
.bottom{
    margin-bottom: 10px;
}
.design01 {
 width: 80%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}

.design01 th {
 padding: 2px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}

.design01 td {
 padding: 2px;
 border: solid 1px #778ca3;
}

ul {
  padding: 0;
  margin-right: 80%;
  position: relative;
}

.btn-square-shadow {
  display: inline-block;
  display: flex;
  padding: 5px;
  margin: 10px;
  font-size: 100%
  text-decoration: none;
  background: #f5f5f5;/*ボタン色*/
  color: #000000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

ul li {
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #dadada 100%);/*グラデーション*/
  text-shadow: 1px 1px 1px whitesmoke;/*文字を立体的に*/
  color: black;
}

ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
  color: orange; /*アイコン色*/
}